/* shared style */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.display-flex {
    display: flex;
}

a {
    text-decoration: none;
}

.btn-primary {
    padding: 10px 60px;
    background-color: #FEA301;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}

/* navbar style */
.navbar {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
    gap: 11px;
}

.logo-tittle {
    font-weight: 700;
    font-size: 2rem;
    color: #111111;
}

.menu-items {
    gap: 32px;
}

.menu-item {
    list-style: none;
}

.nav-li-link {
    font-weight: 700;
    font-size: 1.25rem;
}
.link1{
    color: #FEA301;
}
.link2{
    color: #01ACFD;
}
.link3{
    color: #05D4DF;
}
.link4{
    color: #5D58EF;
}

.menu-icon {
    display: none;
}
marquee{
    color: black;
    font-weight: 500;
}

/* banner style */
.banner{
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}
.banner-tittle{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-text{
    width: 640px;
    margin-top: 42px;
}
.banner-description{
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 24px;
}
.btn-banner{
    background-color: #111111;
    padding: 10px 47px;
    font-weight: 700;
}

/* Standard Curriculum style */
.standard-cur{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.section-tittle{
    font-weight: 700;
    font-size: 2.87rem;
}
.standard-cards{
    gap: 28PX;
    margin-bottom: 80px;
}
.standard-card{
    background-color: #c1c0ff;
    border-radius: 15px;
    padding: 36px 28px;
}
.card-tittle{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
    margin-bottom: 33px;
}
.card-description{
    width: 310px;
    font-weight: 500;
    font-size: 1rem;
    color: #808080;
    margin-bottom: 33px;
}
.card-link{
    font-weight: 700;
    font-size: 1rem;
}
.standard-nav{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
}
.btn-standard-nav{
    padding: 14px 18px;
    border-radius: 50%;
    background-color: #FEA301;
    border: none;
}
 .btn-link{
   color: white;
   font-weight: 700;
   font-size: 1rem;
 }

 /* our-stories style */
 .our-stories{
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 60px;
 }
 .section-tittle{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
 }
 .our-stories-img{
    margin-top: 80px;
    justify-content: space-between;
    gap: 18px;
 }
 .our-stories-img-left{
    position: relative;
    background-color: #c1c0ff;
    border-radius: 16px;
 }
 .our-stories-img-left > img{
    border-radius: 16px 16px 0px 0px;
 }
 .our-story-description{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
 }
 .text-box{
    padding: 34px 38px;
 }

  
 .date1{
    font-family: "Raleway", serif;
    position: absolute;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    padding: 14px 19px;
    border-radius: 50px;
    background-color: #3CD8E8;
    color: white;
    top: 314px;
    left: 38px;

 }
 .our-stories-img-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
 }
 .img-name{
    border-radius: 16px 16px 0px 0px;
 }
 .btn-stori{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
 }
 .img-right{
    position: relative;
    background-color: #c1c0ff;
    border-radius: 16px;
 }
 .date2{
    font-family: "Raleway", serif;
    position: absolute;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    padding: 14px 19px;
    border-radius: 50px;
    background-color: #95B226;
    color: white;
    top: 157px;
    left: 38px;
 }
 .date3{
    font-family: "Raleway", serif;
    position: absolute;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    padding: 14px 19px;
    border-radius: 50px;
    background-color: #5D58F0;
    color: white;
    top: 157px;
    left: 38px;
 }
 .img-tittle{
    /* margin-top: 38px; */
    padding: 30px 40px;

 }

 /* footer style */
 footer{
    background-color: #01ACFD;
    height: 519px;
    color: white;
 }
 .footer-container{
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 123px;    
    justify-content: space-between;
 }
 .footer-logo > img{
   margin-top: 24px; 
   width: 82px;
   height: 84px;
 }
 .footer-option{
    text-align: left;
 }
 .footer-option > ul{
    text-align: left;
    padding-left: 0px;
 }
 .footer-option-tittle{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 32px;
 }
 .footer-img-tittle{
    font-weight: 700;
    font-size: 2.50rem;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;
 }
 .footer-li{
    list-style: none;
    color: white;
    padding-bottom: 20px;
    
 }
 .footer-link{
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
 }
.footer-social-tittle{
    font-weight: 700;
    font-size: 1.625rem;
    margin-bottom: 32px;
}
.footer-social-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}



@media screen and (max-width: 576px) {
/* *{margin: 0 ;
    padding: 0;
} */
    .logo-tittle,
    .menu-items,
    .button {
        display: none;
    }

    .menu-icon {
        display: block;
        color: #111111;
        padding-right: 16px ;
    }
    .navbar{
        padding-top: 12px;
        padding-bottom: 12px;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #FEA301;
    }
    marquee{
        margin-top: 10px;
        font-weight: 100;
    }
    /* banner mobile style */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    .btn-banner{
        padding: 15px 34px;
    }

    /* Standard Curriculum  mobile style */
    .section-tittle{
        font-size: 1.625rem;
    }
    .standard-cards{
        flex-direction: column;
        gap: 12px;
    }
    .card-tittle{
        font-size: 1rem;
        margin-bottom: 22px;
    }
    .card-description{
        /* width: 100%;  */
        font-size: .63rem;
        width: 100%;
        /* width: 193px; 
        padding-left: 34px; */
        margin-bottom: 22px;
    }
    .standard-cards{
        margin: 36px 20px;
    }
    .card-link{
        font-size: .63rem;
    }
    .standard-nav{
        display: none;
    }

    /* our-stories mobile style */
    .our-stories-img-left{
        display: none;
    }
    .our-stories-img-right{
        grid-template-columns: repeat(1, 2fr);

    }
    .img-name{
        width: 100%;
    }
    .btn-stori{
        margin-top: 20px;
    }

    /* footer mobile style */
    .footer-container{
        flex-direction: column;
        padding-left: 21px;
        padding-top: 44px;
    }
    footer{
        height: 780px;
    }
    .footer-social-tittle{
        margin-top: 0px;
    }
    .footer-social-image{
        display: flex;
        justify-content: left;
        gap: 9px;
    }
}