/* shared style */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.display-flex {
    display: flex;
}

a {
    text-decoration: none;
}

.btn-primary {
    padding: 10px 60px;
    background-color: #FEA301;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 12px;
    border: none;
}

/* navbar style */
.navbar {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
    gap: 11px;
}

.logo-tittle {
    font-weight: 700;
    font-size: 2rem;
    color: #111111;
}

.menu-items {
    gap: 32px;
}

.menu-item {
    list-style: none;
}

.nav-li-link {
    font-weight: 700;
    font-size: 1.25rem;
}
.link1{
    color: #FEA301;
}
.link2{
    color: #01ACFD;
}
.link3{
    color: #05D4DF;
}
.link4{
    color: #5D58EF;
}

.menu-icon {
    display: none;
}
marquee{
    color: black;
    font-weight: 500;
}

/* banner style */
.banner{
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}
.banner-tittle{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-text{
    width: 640px;
    margin-top: 42px;
}
.banner-description{
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 24px;
}
.btn-banner{
    background-color: #111111;
    padding: 10px 47px;
    font-weight: 700;
}


@media screen and (max-width: 576px) {
/* *{margin: 0 ;
    padding: 0;
} */
    .logo-tittle,
    .menu-items,
    .button {
        display: none;
    }

    .menu-icon {
        display: block;
        color: #111111;
        padding-right: 16px ;
    }
    .navbar{
        padding-top: 12px;
        padding-bottom: 12px;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #FEA301;
    }
    marquee{
        margin-top: 10px;
        font-weight: 100;
    }
    /* banner mobile style */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    .btn-banner{
        padding: 15px 34px;
    }

}